/entangle/ops/**
!/entangle/ops/__init__.py
!/entangle/ops/hlo.py
!/entangle/ops/op.py
!/entangle/ops/tg.py
!/entangle/ops/torch.py
!/entangle/ops/apex
!/entangle/ops/apex/*
!/entangle/ops/megatron
!/entangle/ops/megatron/*
!/entangle/ops/te
!/entangle/ops/te/*
!/entangle/ops/vllm
!/entangle/ops/vllm/*

/entangle/convert/mappings/**
!/entangle/convert/mappings/__init__.py
!/entangle/convert/mappings/aten.py
!/entangle/convert/mappings/dist.py
!/entangle/convert/mappings/hlo.py
!/entangle/convert/mappings/mapping.py
!/entangle/convert/mappings/misc.py
!/entangle/convert/mappings/tg.py
!/entangle/convert/mappings/apex
!/entangle/convert/mappings/apex/*
!/entangle/convert/mappings/megatron
!/entangle/convert/mappings/megatron/*
!/entangle/convert/mappings/te
!/entangle/convert/mappings/te/*
!/entangle/convert/mappings/vllm
!/entangle/convert/mappings/vllm/*

__pycache__
.DS_Store
lib
*.html
tmp
*egg-info
test.ipynb
tmp.ipynb
tmp.py
tmp.log

tests
tests/data
!tests/data/fnn

!entangle/tools/egraph_visualization/**/*.html
