target
todo.txt
manual_rules.txt
test_g.txt
test_rules.txt
single_rules_small.txt
converted_both.txt
single_rules_both.txt
graph_subst_single.pb
/tmp
bert_time.txt
bert_old_time.txt
*.pdf
*.png
._*
.DS_Store
Cargo.lock
precondition/**/*.dot
precondition/**/*.json
precondition/**/*.txt
precondition/**/*.svg
precondition/**/postcondition.sexpr
__pycache__
authorized_keys

src/special/**
!src/special/mod.rs
!src/special/hlo*
!src/special/vllm*